{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>



<div class="card card-block text-center w-50 my-4">
    <div class="card-header">
        <h5 class="card-title my-2">Paso 1: Crear Pregunta </h5>
    </div>
    <div class="card-body">
        <form method="post" novalidate>
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}
        <br>

          <button class="my-4 btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>
</div>

<tr><th>Comment:</th><td><input type="text" name="comment" size="15" required></td></tr>

</div>




        {% endblock %}