{% extends 'base.html' %}
{% block content %}

{% if question %}
<div class="container">
        <div class="container-fluid">
        <div class="container card mt-md-4  text-black bg-light mb-3" >
            <div class="row card-body ">

<h4 class="text-center">Usuarios que han respondido a la pregunta : {{question.question_text}}</h4>
<div class="container">
  <table class="table table-borderless">
                    {% for choices in question.choice_set.all%}


    <tbody>

                      <tr><td>  {{ choices.who_voted }}</td></tr>

                        {% endfor %}
                      </tbody>
  </table>
            </div>
                </div>
            </div>
</div>
        <a href="{% url 'polls:GeneratePDF' question.id %}" ><button type="button"  class="btn btn-secondary">Descargar respuestas</button></a>
    {% else %}
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> Aún no existen votos para esta pregunta
    </div>

    {% endif %}




    </body>
    {% endblock %}