{% extends 'base.html' %}
{% block content %}
<head xmlns="http://www.w3.org/1999/html">
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- Numeric JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css">
    #myDiv {
        max-width: 500px;

    }
        #myDivBar {

        float:right;
    }

.center-div
{

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 500px;
  background-color: #ccc;
  border-radius: 3px;
}
.center-div2
{

  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  height: 500px;
  background-color: #ccc;
  border-radius: 3px;
}
    </style>
</head>

<a>

{% if type_choice == 'T' %}

{% endif %}
{% if sum > 0 %}

    {% if type_choice == 'E' %}
    <h2>Resultados de la encuesta: {{ question.question_text }}</h2>
    {% else %}
    <h2>Resultados del test: {{ question.question_text }}</h2>
    {% endif %}

<div id="myDiv" class="center-div"><!-- Plotly chart will be drawn inside this DIV --></div>
{% if type_choice == 'T' %}
<div class="container" class="center-div2">
    {% if type_choice == 'E' %}
    <p>Votos a la encuesta: {{ question.question_text }}</p>
    {% else %}
    <p>Votos al test: {{ question.question_text }}</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Respuestas</th>
            <th>Votos</th>
        </tr>
        </thead>
        <tbody>


        <tr>
            <td>Respuestas Correctas</td>
            <td>{{suma_true}}</td>
        </tr>
        <tr>
            <td>Respuestas incorrectas</td>
            <td>{{ suma_wrong }}</td>
        </tr>



        <td align='right'><strong>Total: </strong></td>
        <td> {{ sum }}</td>

        </tr>

        </tbody>
    </table>

</div>
{% else %}
<div class="container" class="center-div2">
    <p>Votos a la pregunta: {{ question.question_text }}</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Respuestas</th>
            <th>Votos</th>
        </tr>
        </thead>
        <tbody>

        {% for key, value in choices.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}


        <td align='right'><strong>Total: </strong></td>
        <td> {{ sum }}</td>

        </tr>

        </tbody>
    </table>

</div>
<a href="{% url 'polls:export_csv' %}" ><button type="button"  class="btn btn-secondary">Descargar informe .csv</button></a>
{% endif %}

{% else %}
<div class="alert alert-danger" role="alert">
  <strong>Error!</strong> Aún no existen votos para esta pregunta
</div>

{% endif %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<script type="text/javascript">

            {% if type_choice == 'T' %}
                    suma_false = {{sum}} - {{suma_true}};
                        var data = [{
              values: [suma_false,'{{suma_true}}'],
              labels: ['Respuesta Incorrecta','Respuesta Correcta'],
              type: 'pie',
               marker: {
    colors: ['rgb(240, 13, 13)', 'rgb(51, 240, 13)']
  },
            }];


            Plotly.newPlot('myDiv', data);

            {% else %}

            var votes = [];
            var text = [];
            var max_votes;

            {% for key, value in choices.items %}
                 text.push('{{ key }}');
                 votes.push({{ value }});
            {% endfor %}

            max_votes = parseInt(Math.max(votes));
            max_votes += 5;

            var data = [{
              values: votes,
              labels: text,
              type: 'pie'
            }];

		    var layout = {
		      yaxis: {
     range: [0, 5],
    title: 'Numero de votos'
  },
  		      xaxis: {
    range: [0, {{ choices|length }}],
    title: 'Respuestas'
  },
		        title: '',
		        margin: {l:200},
		    };
		    Plotly.newPlot('myDiv', data, layout);

		    		    var data_bar = [{
		        y: votes,
		        x: text,
		        type: 'bar',
		        orientation: 'v',
		        marker: {
		            color: '#23b7e5',
		        },
		    }];

		    var layout = {
		      yaxis: {
     range: [0, {{ sum }}],
    title: 'Numero de votos'
  },
  		      xaxis: {
    range: [0, {{ choices|length }}],
    title: 'Respuestas'
  },
		        title: '',
		        margin: {l:200},
		    };
		    Plotly.newPlot('myDivBar', data_bar, layout);

 {% endif %}


  </script>


</body>
{% endblock %}