{% extends 'base.html' %}
{% block content %}

<div class="container" class="center-div2">

    <p>Lista de usuarios</p>



    <table class="table table-striped">
        <thead>
        <tr>
            <th>Alumnos Registrados:</th>
            <th>Nombre y Correo: </th>
            <th>Asignaturas: </th>
        </tr>
        </thead>
        <tbody>


        {% for key, value in datos_dic.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td>
                <li>{{ value }}</li>
                <li>{{ value }}</li>
            </td>

        </tr>
        {% endfor %}


        <td align='left'><strong>Total: {{user_count}}</strong></td>
        <td> </td>

        </tr>

        </tbody>
    </table>

</div>


{% endblock %}