{% extends 'base.html' %}
{% block content %}
<style>
.center-div2{
    li::before {content: "•"; color: black;
  display: inline-block; width: 1em;
  margin-left: -1em}
}
</style>

<div class="container" class="center-div2">

    <p>Lista de usuarios</p>



    <table class="table table-striped center-div2">
        <thead>
        <tr>
            <th>Alumnos Registrados:</th>
            <th>Nombre y Correo: </th>
            <th>Asignaturas: </th>
        </tr>
        </thead>



        {% for key, value in datos_dic.items %}
        <tr>
            <td>{{ key }}</td>
            <td><li><strong>Nombre:</strong> {{ value.name }}</li><br><li><strong>Email:</strong> {{ value.email }}</li></td>
            <td>
                {% for items in value.subjects%}
                <li>{{ items }}</li>
                {% endfor %}

            </td>

        </tr>
        {% endfor %}




        </tr>

        </tbody>
    </table>

</div>


{% endblock %}