<head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script></head>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <a class="nav-link" href="https://uah.es/es/"><img src="https://uah.es/export/sites/uah/.galleries/imagenes-estructura/logo1.png_105938625.png" alt="Página principal de la Universidad de Alcalá"> <span class="sr-only">(current)</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
          <li class="nav-item active">
        <a class="navbar-brand" href="{% url 'polls:index' %}">App de encuestas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:index' %}">Página principal <span class="sr-only">(current)</span></a>
      </li>
         {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'password_change' %}">Cambiar contraseña</a>
      </li>
         {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Registrate aqui!</a>
      </li>
          {% endif %}
       {% if user.is_authenticated %}
        <li class="nav-item">
            <strong class="float-right">Bienvenido, {{request.user.username}}!</strong>
      </li>
        {% endif %}
    </ul>
  </div>

</nav>
<body>
<div class="text-center">
      {% block content %}
    {% endblock %}
</div>
</body>
